#main-loading{
	background-color:#e2e2e2;
	position:relative;
}
#main-loading #app-loading{
	position: absolute;
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	width:400px;
	height:92px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-image: url('images/loading.gif');
	background-repeat: no-repeat;
	width:35px;
	height:35px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
